.calculator {
  display:flex;
  flex-direction: column;
  background-color: rgb(230, 230, 230);
  width: auto;
  height: 600px;
  border-style: solid;
  border-radius: 15px;
}


h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size:xxx-large;
  text-align: center;
}

.results {
  display: flex;
  justify-content: flex-end;
  width: 80%;
  height: 30px;
  border-style: solid;
  border-radius: 15px;
  border-color: black;
  margin:auto;
  padding: 10px;
  font-size: 30px;
}

.basicButtons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
  margin:auto;
  margin-top: 10px;
  width: 80%;
  border-style: solid;
  border-radius: 15px;
}

.basicButtons button{
  width: 20%;
  height: 60px;
  padding: 0px;
  margin: 5px;
  font-size: 28px;
  text-align:center;
  line-height: normal;
  box-sizing: border-box;
}

/* CSS */
.button-19 {
  appearance: button;
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}

.button-19:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-19,
.button-19:focus {
  user-select: auto;
}

.button-19:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-19:disabled {
  cursor: auto;
}

.button-19:active {
  border-width: 4px 0 0;
  background: none;
}

.button-op {
  background-color: #e68f09;
}

.button-op:after {
  background-color: #ff9f0a;
}
